@font-face{
	font-family: squarefont;
	src: url('../squarefont.woff');
}

.boardCell {
	display: inline-block;
	font-size:12px;
	position:relative;
	background-color:#ffcc80;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing:border-box;
}

body {
	display:flex;
	justify-content:space-around;
	align-items:stretch;
	flex-direction:row;
	flex-wrap:wrap;
	margin:auto;
	background:#000;
}

#header {
	text-align:center;
	font-family:squarefont;
	font-size:50px;
	background-color:#fff;
	color:#000;
}

#info {
	width:200px;
	height:100%;
	padding:5px;
	box-sizing:border-box;
	/*
		border-right:5px solid #000;
	*/
	text-align:center;
	font-family:squarefont;
	font-size:20px;
	background-color:#fff;
	color:#000;
}

#player {
	font-size:40px;
}

body .boardCell:nth-child(even) {
	background-color:#630;
}

.blackPiece {
	background-color:#000;
}

.whitePiece {
	background-color:#fff;
}

.checkersPiece {
	display: inline-block;
	position:absolute;
	left:8px;
	top:8px;
	cursor:pointer;
	box-sizing: border-box;
}