.editButton {
	width:16.666%;
	height:70px;
	border:solid 3px #000;
	box-sizing:border-box;
	display:table-cell;
	vertical-align:middle;
}

.editButton:hover{
	border:solid 3px #f90;
	background-color:#fc3;
	cursor:pointer;
}